<div class="row">
  <div class="col-4">
    <img src="assets/images/{{ movie?.imageBig }}" class="rounded float-left img-fluid" alt="{{ movie.key }}">
  </div>
  <div class="col-8">
    <div class="row">
      <h2> {{ movie?.name }} </h2>
    </div>
    <div class="row">
      <p> {{ movie?.releaseDate }} </p>
    </div>
    <div class="row" style="padding-top:70px">
      <p> {{ movie?.description }} </p>
    </div>
    <div class="row credits" style="padding-top:30px">
      <h6>Directors:</h6>&nbsp;&nbsp;
      <ng-container *ngFor="let director of movie?.directors | keyvalue; let i = index">
        <ng-template [ngIf]="i === 0" [ngIfElse]="others">
          <h6>{{ director.value.name }}</h6>
        </ng-template>
        <ng-template #others>
          <h6>,&nbsp;{{ director.value.name }}</h6>
        </ng-template>
      </ng-container>
    </div>
    <div class="row credits" style="padding-top:5px">
      <h6>Writers:</h6>&nbsp;&nbsp;
      <ng-container *ngFor="let writer of movie?.writers | keyvalue; let i = index">
        <ng-template [ngIf]="i === 0" [ngIfElse]="others">
          <h6>{{ writer.value.name }}</h6>
        </ng-template>
        <ng-template #others>
          <h6>,&nbsp;{{ writer.value.name }}</h6>
        </ng-template>
      </ng-container>
    </div>
    <div class="row credits" style="padding-top:5px">
      <h6>Stars:</h6>&nbsp;&nbsp;
      <ng-container *ngFor="let actor of movie?.actors | keyvalue; let i = index">
        <ng-template [ngIf]="i === 0" [ngIfElse]="others">
          <h6>{{ actor.value.name }}</h6>
        </ng-template>
        <ng-template #others>
          <h6>,&nbsp;{{ actor.value.name }}</h6>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>