<h2 class="latestTitle">Latest</h2>
<div *ngFor="let movie of sortedByDate; let i = index">
    <div *ngIf="i < 2">
        <div class="card mb-3">
            <img class="card-img-top" src="../../assets/images/{{ movie.imageHome }}" alt="Card image cap">
            <div class="card-img-overlay imageCustom">
                <h4 class="card-title"><a routerLink="/movies/{{ movie.key }}">{{ movie.name }}</a></h4>
                <h6 class="card-text">{{ movie.releaseDate }}</h6>
            </div>
            <div class="card-body">
                <p class="card-text">{{ movie.description | shortDescription }}</p>
                <p class="card-text"><small class="text-muted">Created at {{ movie.createdAt | date:'shortDate' }}</small></p>
            </div>
        </div>
    </div>
</div>