<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h3>MoviesApp</h3>
                <p class="pr-5 text-white-50">This site is the final project in the course "Praktikum iz Web programiranja".<br><br>ICT College of Vocational Studies</p>
            </div>
            <div class="col-lg-4 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <ul class="m-0 p-0">
                    <li>- <a href="https://github.com/isolesa/movies-app">GitHub Documentation</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-4">Social media</h4>
                <ul class="m-0 p-0">
                    <li>- <a href="https://www.linkedin.com/in/isolesa/">LinkedIn</a></li>
                    <li>- <a href="https://github.com/isolesa/">GitHub</a></li>
                    <li>- <a href="https://www.facebook.com/isolesa/">Facebook</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2019. Igor Solesa. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>